<!DOCTYPE html>
<html lang="en">
  <head>
    <meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>Pokémon Collection</title>
    <link rel="shortcut icon" href="">
  </head>
  <body>
    <div id="pokedex-root" class="pokedex-root"></div>
    <%= htmlWebpackPlugin.files.webpackManifest %>
  </body>
</html>
